<div>
    <h3>We offers a great selection of deals for car rental in Bulgaria.</h3>
    <h3>Read on for more details on saving money on your rental and enjoying driving in Bulgaria.</h3>
    <h2>Thank you!</h2>
<div>