<section>
    <h2>Register</h2>
    <div class="spacer">
        <form action="/register" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <label for="repeatPassword">Repeat password:</label>
            <input type="password" id="repeatPassword" name="repeatPassword">
            <input type="submit" value="Register">
        </form>
    </div>
</section>