 <h1>Projects</h1>
<h3>Manage Teams</h3>
<div class="form">
  <form action="/admin/projects" method="POST">
    <label>Team</label>
    <select name="teamId">
      {{#each teams as |team|}}
        <option value="{{team._id}}">{{team.name}}</option>
      {{/each}}
    </select>
    <label>Project</label>
    <select name="projectId">
      {{#each projects as |project|}}
      <option value="{{project._id}}">{{project.name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Distribute">
  </form>
</div>