{{!-- <form action="/login" method="POST">
    <label for="name">Username:</label>
    <input type="text" name="username"><br>

    <label for="name">Password:</label>
    <input type="password" name="password"><br>

    <input type="submit" value="Login">
</form> --}}
<div class="form">
    <form action="/login" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" id="name"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <input type="submit" value="Login">
    </form>
</div>