<section>
    <h2>Create new article</h2>
    <div class="spacer">
        <form>
            <label>Article title</label>
            <input type="text" class="title">
            <label>Content</label>
            <textarea></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>