{{!-- <form action="/register" method="POST">
    <label for="name">Username:</label>
    <input type="text" name="username"><br>

    <label for="name">Password:</label>
    <input type="password" name="password"><br>

    <label for="name">First name:</label>
    <input type="text" name="firstName"><br>

    <label for="name">Last name:</label>
    <input type="text" name="lastName"><br>

    <input type="submit" value="Register">
</form> --}}
 <h1>Register</h1> 
<div class="form">
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>

        <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName"><br>

        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName"><br>

        <label for="profilePicture">Profile Picture:</label>
        <input type="text" name="profilePicture" id="profilePicture"><br>

        <input type="submit" value="Register">
    </form>