<section>
  <h2>Search results for: "{{query}}"</h2>
  <div class="spacer">
    <ul>
      {{#each projects as |project|}}
        <li>
         {{project.name}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>